.table {
   &--name {
    font-weight: 500;
  }

  &--header, &--row {
    display: grid;
    padding: 15px 0;
    grid-template-columns: 1fr 2.5fr 0.5fr 0.5fr 0.25fr;
    column-gap: 30px;

    > div:first-child {
      padding-left: 10px;
    }
  }

  &--header {
    .table_icon {
      font-size: 28px;
    }
  }

  &--row {
    width: 100%;
    min-height: 50px;

    &:nth-child(even) {
      background-color: lightgray;
    }
  }

  &--label {
    display: none;
  }

  &--navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & > div:first-child {
      margin-right: 10px;
    }
  }

  &--actions {
    display: flex;
    margin: 20px 0;
    
    button {
      height: 30px;
      min-width: 80px;

      &:first-child  {
        margin-right: 10px;
      }
    }
  }

  &--arrow {
    .table--redirect {
      cursor: pointer;
      background: transparent;
      color: transparent;
      font-size: 24px;
      border: 0;
      color: black;
    }
  }

  @media (max-width: 600px) {
    margin: auto;
    width: 90%;

    &--header {
      display: none;
    }

    &--row {
      display: flex;
      flex-direction: column;
    }

    &--header, &--row {
      > div {
        padding: 10px;
      }
    }

    &--label {
      display: initial;
    }

    &--arrow {
      display: flex;
      justify-content: flex-end;
  
      .table--redirect {
        font-size: 38px;
      }
    }
  }
}